* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h2 {
	position: absolute;
	color: black;
	font-style: italic;
	font-weight: 200;
	top: 30%;
	left: 67%;
}

h3 {
	margin-top: 5%;
	color: black;
	font-style: italic;
	font-family: Arial, sans-serif;
	font-size: 70%;
}

body {
    background-size: 100%;       
    background-repeat: no-repeat; 
    background-position: center;
	background-color: #b5a8e7;                      
    height: 100vh;
}

input {
    width: 30%;
    padding: 1.5% 1.5%;
    margin-bottom: 1.5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 80%;
}

input:focus {
    border-color: #b5a8e7;
    box-shadow: 0 0 5px rgba(106, 17, 203, 0.5);
}

form {
	font-size: 1.5rem;
	margin-top: 40%;
}

.error {
	position: absolute;
	top: 40%;
	right: 21.3%;
	font-size: 1.5rem;
	color: red;
}

.hilton-logo {
	height: 45%;
	position: absolute;
	top: 25%;
	left: 5%;
}

.input-container {
	background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-left: 40%; 
    height: 100%;
}

.login-register-btn {
	margin-top: 5%;
    background-color: #b5a8e7;
    color: white;
    padding: 0.5%;
    width: 15%;
    font-size: 85%;
    cursor: pointer;
	border-radius: 15px;
	border: 1.5px solid black;
}

.login-register-btn:hover {
    background-color: #9887d5;
}

.register-link {
    color: #b5a8e7;
    text-decoration: underline;
    font-size: 100%;
    font-family: Arial, sans-serif;
	font-style: italic;
    cursor: pointer;
}

.register-link:hover {
    color: #9887d5;
}